body {
	background-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 20pt;
    margin-bottom: 20%;
    background-color: #C2C2C2;
}

table.notbottom {
	margin-bottom: 0%;
}

td, th {
    border: none;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    font-size: 20pt;
}

th.heading {
	border: none;
	background-color: #00286D;
	color: white;
    font-weight: normal;
    font-size: 20pt;
}

.wrapper {
    text-align: center;
    margin: 5%;
}

button {
    background-color: white;
    border: 7px solid #33B5E5;
    color: #33B5E5;
    padding: 60px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    width: 100%;
    font-weight: bold;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:80px;
    height:80px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}
