this is a test body {
	background-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
    margin-bottom: 2%;
    background-color: white;
}

table.notbottom {
	margin-bottom: 0%;
}

td, th {
    border: 2px solid #dddddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle; 
}

th.heading {
	border: none;
	background-color: #00286D;
	color: white;
}