html, body {
	background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30pt;
    color: #00286D;
    padding-left: 1.5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 30pt;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table.notbottom {
	margin-bottom: 0%;
}

td, th {
    border: none;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    font-size: 25pt;
    padding: 3%;
}

th.heading {
	border-bottom: 3px solid black;
	background-color: white;
    font-size: 20pt;
    text-align: left;
    padding: 3%;
}

th.title {
    border: none;
    background-color: #000F8D;
    font-size: 35pt;
    text-align: left;
    padding: 3%;
    width: 100%;
    color: white;
    font-weight: normal;
    margin: 0;
}

.wrapper {
    text-align: center;
    margin: 5%;
}

button {
    background-color: white;
    border: 7px solid #33B5E5;
    color: #33B5E5;
    padding: 60px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    width: 100%;
    font-weight: bold;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:80px;
    height:80px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}
input[type='submit'] {
    background-color: #000F8D;
    color: white;
    padding: 60px 32px;
    text-align: center;
    display: block;
    font-size: 50px;
    width: 75%;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
